<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Publication Year</th>
    <th>Author</th>
    <th>Editor</th>
    <th>Category</th>
    <th>Document Type</th>
    <th>Quantity</th>
    <th>Borrow Time Period</th>
    <th>Quantity</th>
    </thead>
    <tbody>
    <th:block th:each="document, stat : ${documents}">
        <tr>
            <td th:text="${document.getId()}"></td>
            <td th:text="${document.getTitle()}"></td>
            <td th:text="${document.getPublicationYear()}"></td>
            <td th:text="${document.getAuthor()}"></td>
            <td th:text="${document.getEditor()}"></td>
            <td th:text="${document.getCategory()}"></td>
            <td th:text="${document.getDocumentType()}"></td>
            <td th:text="${document.getBorrowTimePeriod()}"></td>
            <td th:text="${document.getQuantity()}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>